header {
    display: flex;
    justify-content: space-around;
    background-color: $color_dark_brown;
    padding: 20px 0;
    border: 1px dashed #A38369;

    a {
        color: $color_brown;
        text-decoration: none;
        font-size: 1.2em;
        font-weight: bold;

        &:hover {
            color: $color_light_brown; 
        }

        &:active {
            color: $color_light_brown; 
        }
    }
}