.index {
    background-image: url("../img/conan-exiles.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 80vw;
    border: none;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
    section{
        color: white;
        font-size: calc(1rem + 1vw);
        text-align: center;
        flex: 1 0 auto;
    }
}
